Repository todogroup/ospology, pull requests merged in 2022-07, with the labels that each got.

#151 add initial level preview and link to languages
  ospo-mindmap/Content/ospomindmap.md
Labels: mind map

#154 Add standards collaboration
  ospo-mindmap/Content/ospomindmap.md
Labels: project-mind map

#163 Create framework for OSPO Local Meetups
  local-meetups/framework.md
Labels: proposal
