Repository todogroup/ospology, pull requests merged in 2022-06, with the labels that each got.

#126 create ospology.live framework
  ospology-live/framework.md
Labels: documentation, proposal

#111 ospomindmap: Update OSPO responsibilities
  ospo-mindmap/Content/ospomindmap.md
Labels: mind map

#136 update readme that contains steven contributions from previous PR
  README.md
Labels: documentation

#141 Update 2022-05-31.md in Japanese version.
  newsletter/日本語版/2022-05-31.md
Labels: newsletter
