Repository todogroup/ospology, pull requests merged in 2023-04, with the labels that each got.

#286 [OSPO Book] Create glossary.md
  ospo-book/chapters/glossary.md
Labels: ospo-book

#292 Add Sourav to TODO OSPOlogy Maintainer
  newsletter/2023-03-31.md
Labels: maintaner

#306 [OSPO Book] Workflow to build PDF
  .github/workflows/build-pdf.yml
  ospo-book/.github/workflows/build-pdf.yml
Labels: ospo-book-infra
